@{
    ViewBag.Title = "Confirm to email";
}

<h2>@ViewBag.Title。</h2>
<div>
    <p>
        Thank you for verify your email。please@Html.ActionLink("click here to login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
