@{
    ViewBag.Title = "Confirm to reset your password";
}

<hgroup class="title">
    <h1>@ViewBag.Title。</h1>
</hgroup>
<div>
    <p>
        Your password has been resetted。please @Html.ActionLink("click here to login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
