@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked";
}

<hgroup>
    <h1 class="text-danger">Locked。</h1>
    <h2 class="text-danger">This user has been locked, please try again soon。</h2>
</hgroup>
